
<div>
	<h1>Sunday</h1>
    <h2 data-bind="text:sundate"></h2>
    <p data-bind="text:suninfo"></p>
</div>
<div>
	<h1>Monday</h1>
    <h2 data-bind="text:mondate"></h2>
    <p data-bind="text:moninfo"></p>
</div>
<div>
	<h1>Tuesday</h1>
    <h2 data-bind="text:tuesdate"></h2>
    <p data-bind="text:tuesinfo"></p>
</div>
<div>
	<h1>Wednesday</h1>
    <h2 data-bind="text:weddate"></h2>
    <p data-bind="text:wedinfo"></p>
</div>
<div>
	<h1>Thursday</h1>
    <h2 data-bind="text:thurdate"></h2>
    <p data-bind="text:thurinfo"></p>
</div>
<div>
	<h1>Friday</h1>
    <h2 data-bind="text:fridate"></h2>
    <p data-bind="text:friinfo"></p>
</div>
<div>
	<h1>Saturday</h1>
    <h2 data-bind="text:satdate"></h2>
	<p data-bind="text:satinfo"></p>
</div>

